body,html {
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: #eee;
}

html {
    font-family: 'Verlag A', 'Verlag B', sans-serif;
}

html, html a {
     -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

div {
    margin: 0;
    padding: 0;
    
    vertical-align: top;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li:nth-child(1) {
        border-top: 1px solid #eee;
    }

li {
    border-bottom: 1px solid #eee;
    padding: 0.5em 0 0.5em 0;
}

#maindiv {
    width: 100%;
    height: 100%;
    margin: 0 auto;

    overflow-y: scroll;
}

#left, #right {
    width: 50%;
    display: inline-block;
}

#left {
    text-align: center;
    padding-top: 4em;

    h1 {
        font-size: 3em;
        text-transform: uppercase;
        letter-spacing: 0.4em;
        margin: 0;
        padding: 0;
    }

    h2 {
        font-size: 1em;
        margin: 0;
        padding: 0;
    }
}

#right {
    background-color: rgba(0,0,0,0.6);
    height: 100%;

    width: 45%;
    padding: 4em 0.8em;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

    p {
        font-size: 1.2em;
    }

    #contact {
        //display: block;
        margin-top: 2em;
        color: #6eafff;
        text-decoration: underline;
    }
}

#left {
    h1, h2 {
        text-shadow: 0 0 50px #333; 
    }
}

.signup {
    padding: 1em;
    background-color: #6eafff;
    font-weight: 600;
    font-size: 1em;
    text-decoration: none;
    color: #eee;
    display: table-cell;
}

.sup {
    .signup {
        background-color: #E80C7A;
    }

    #contact {
        color: #E80C7A !important;
    }
}

.carousel {
    position: absolute;
    top: 0;
    left: 0;

    z-index: -1;

    width: 100%;
    height: 100%;
    height: 100vh;
}

.slide {
    width: 100%;
    height: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

button {
    display: none !important;
}

@media (max-width: 1000px) {

    #left, #right {
        width: 100%;
        display: block;
    }

    #left {
        margin-bottom: 1.5em;
    }

    #right {
        width: 90%;
        height: auto;
        margin: 0 auto;
        padding-top: 0.2em;
    }

    #maindiv {
        width: 100%;
        height: 100%;
        //margin: 0 auto;

        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
    #left {
        text-align: center;
        padding-bottom: 15em;

        h1 {
            font-size: 3em;
            text-transform: uppercase;
            letter-spacing: 0.4em;
            margin: 0;
            padding: 0;
        }

        h2 {
            font-size: 1.3em;
            margin: 0;
            padding: 0;
        }
    }
}